/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

body {
  height: 100vh;
}

body > div {
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-date {
  font-size: 1.5rem;
  font-weight: 300;
  color: #555;
}

.quote {
  max-width: min(70%, 30rem);
  position: relative;
}

.quote::before {
  content: open-quote;
  font-size: 2em;
  position: absolute;
  left: -0.5em;
  top: -0.2em;
}

.quote::after {
  content: close-quote;
  font-size: 2em;
  position: absolute;
  right: -0.5em;
  bottom: -0.2em;
}

.text-fancy {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
}
